body {
	font-family: 'Source Sans Pro';
}

.has-error {
	border-color: #E53935 !important;
}

.is-valid {
	border-color: #43A047 !important;
}

.has-warning {
	border-color: orange;
}

.text-danger {
	color: #a94442;
}

.jvalidate-error-message {
	display: block;
}