body {
	font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
	background-color: #dfdfdf;
    background-image: -webkit-linear-gradient(top,#dddbd1,#d2dbdc);
    background-image: linear-gradient(to bottom,#dddbd1,#d2dbdc);
    background-repeat: no-repeat;
    padding-bottom: 50px;
    position: relative;
}

.theme-bar {
	width: 100%;
	height: 200px;
	background-color: #689F38;
	position: absolute;
	box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2);
}

.section {
	margin: 30px 0px;
}

.section.section-white .container {
	padding: 20px;
	background-color: #fff;
	box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.2);
	z-index: 2;
	border-radius: 4px;
}

.nav.nav-stacked > li {
	font-size: 22px;
	border-bottom: solid 1px #eee;
	margin-bottom: 20px;
}

.nav.nav-stacked ul.list-unstyled li {
	padding-left: 20px;
}

.padding-20 {
	padding: 20px;
}

.plugin-block h2:hover:before {
	content: "§";
	position: absolute;
	left: -10px;
	color: #ccc;
}

.plugin-block h2:hover {
	cursor: pointer;
}

pre {
	border: 0px solid transparent;
}

.material-input {
	padding: 6px;
	width: 100%;
	border: 0;
	border-bottom: 1px solid #eee;
}

.material-input:focus {
	outline: 0;
	border-color: #ddd;
}

.has-error.material-input:focus, .is-valid.material-input:focus {
	border-width: 2px;
}

.material-btn {
	text-transform: uppercase;
	background-color: #689F38;
	color: #fff;
	box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.2);
	padding: 6px 20px;
	border-radius: 2px;
}